.wrapper
  %header.page-header
    %h1 Simple TODO List
    %h2 From Ruby Garage
  %section.main-content
    = render 'projects/fill'
    .container
      .row
        = link_to "#", :class => "btn btn-primary" do
          %i.fa.fa-plus
            %span Add TODO List
